.main-container {
  display: flex;
  margin-top: 70px;
  overflow: hidden;
}

#map {
  width: 40%;
  height: calc(100vh - 70px);
  position: sticky !important;
  top: 0;

  div {
    outline: none;
  }
}

.results-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
